body{
    background-color: lightgray;
    font-family: 'Montserrat', sans-serif;
}

svg{
    transform: scale(.45);
}


li{
    display: inline;
    padding: 25px;
    font-size: 2em;

}
nav{
    text-align:center;
}
nav ul{
  list-style-type: none;
}
a:link {
    text-decoration: none;
  }
  
a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }